<form novalidate class="mdl-shadow--4dp">
  <div class="input-message mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="message-input" autocomplete="off"
      ng-model="$ctrl.message">
    <label class="mdl-textfield__label" for="message-input">Message</label>
  </div>
  <button class="send-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    ng-disabled="!$ctrl.message || $ctrl.message.length === 0"
    ng-click="$ctrl.sendMessage()">
    SEND
  </button>
</form>
